
<section class="hero-area breadcumb-area" >
    <div class="hero-carousel">
      <div class="single-hero d-flex align-items-center text-center breadcumb-about">
        
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
              
              <div class="hero-content" >
                <h3>Organic Food</h3>
                <h2>{{blogList.title}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about-us-area pd-t-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-12  ">
          <div class="about-us-content">
            <img
              src={{blogList.image.url}}
              alt=""
              style= "marginBottom: '50px'"
            />
          </div>
        </div>
        <div class="blog-description">
          <div>
            <p>{{blogList.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

