<section class="about-us-area pd-t-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 text-center">
        <div class="about-us-content">
          <div class="hero-area">
            <div class="single-hero d-flex align-items-center text-center">
              <div class="hero-content">
                <h3>Organic Food</h3>
                <h2>{{storeActive.title}}</h2>
               
              </div>
            </div>
            <h5>
                {{ storeActive.description }}
            </h5>
          
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
