<div class="row">
    <div class="col-xs-12">
      <h4 style="color: cornflowerblue">Add New Server or Blueprints!</h4>
     <div> <label for="ServerName">
          Server Name</label><br>
      <input type="text" class="form-control" [(ngModel)]="newServerName" /></div>
      <div> <label for="ServerContent">
          Server Content</label><br>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="newServerContent"
      /></div><br />
      <button class="btn btn-primary" (click)="onAddServer()">
        Add Server
      </button> &nbsp;
      <button class="btn btn-primary" (click)="onAddBlueprint()">
        Add Server Blueprint
      </button> &nbsp;
    </div>
  </div>