<section class="blog-area pd-t-150">
    <div class="container">
      <header class="section-heading text-center">
        <h3 class="section-title">Latest Blogs</h3>
      </header>
      <div class="row">
        <div class="col-lg-6">
          <article class="single-blog featured-blog">
            <figure>
              <div class="blog-thumb mb-4">
                <a href="blog-details.html"
                  ><img src="img/blog/featured-blog-1.png" alt=""
                /></a>
              </div>
              <figcaption class="blog-content">
                <h4 class="post-title mb-4">
                  <a href="blog-details.html"
                    >Lorem Ipsum is simply dummy text?</a
                  >
                </h4>
                <p class="post-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum is simply dummy text of the
                  printing.<a class="inline-btn" href="blog-details.html"
                    >Read More</a
                  >
                </p>
              </figcaption>
            </figure>
          </article>
        </div>

        <div class="col-lg-6">
          <article class="single-blog mb-4">
            <figure class="d-md-flex d-lg-flex d-xl-flex">
              <div class="blog-thumb">
                <a href="blog-details.html"
                  ><div
                    class="bg-img blog-thumb-bg"
                    data-background="img/blog/blog-1.png"
                  ></div
                ></a>
              </div>
              <figcaption class="blog-content p-3">
                <h4 class="post-title mb-3">
                  <a href="blog-details.html"
                    >Lorem Ipsum is simply dummy text?</a
                  >
                </h4>
                <p class="post-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum is simply dummy text of the
                  printing.<a class="inline-btn mt-3" href="blog-details.html"
                    >Read More</a
                  >
                </p>
              </figcaption>
            </figure>
          </article>

          <article class="single-blog">
            <figure class="d-md-flex d-lg-flex d-xl-flex">
              <div class="blog-thumb">
                <a href="blog-details.html"
                  ><div
                    class="bg-img blog-thumb-bg"
                    data-background="img/blog/blog-2.png"
                  ></div
                ></a>
              </div>
              <figcaption class="blog-content p-3">
                <h4 class="post-title mb-3">
                  <a href="blog-details.html"
                    >Lorem Ipsum is simply dummy text?</a
                  >
                </h4>
                <p class="post-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum is simply dummy text of the
                  printing.<a class="inline-btn mt-3" href="blog-details.html"
                    >Read More</a
                  >
                </p>
              </figcaption>
            </figure>
          </article>
        </div>
      </div>
    </div>
  </section>
