
  <section class="hero-area">
    <div class="hero-carousel">

      <div class="single-hero d-flex align-items-center text-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
              <div class="hero-content">
                <h3>Organic Food</h3>
                <h2>Looking for <br />the fresh Organic Food</h2>
                <a href="../../assets/img/slider/hero-bg-1.jpg" class="boxed-btn">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>