<section class="hero-area">
  <div class="hero-carousel">
    <div
      class="
        single-hero
        d-flex
        align-items-center
        text-center
        breadcumb-category
      "
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <div class="hero-content">
              <h3>Organic Food</h3>
              <h2>Blog</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blog-area pd-t-150">
  <div class="container">
    <header class="section-heading text-center">
      <h3 class="section-title">Latest Blogs</h3>
    </header>
      <div class="row"> 
   <app-blog-array></app-blog-array>
      <section class="offers-banner-area pd-t-150">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="offer-banner-wrap1">
                <div
                  class="single-offer-banner big bg-img"
                  data-background="../../assets/img/banner/offer-big-1.jpg"
                ></div>
                <span class="offer-percent big align-items-center"
                  ><span>30%</span>Discount</span
                >
              </div>
            </div>
            <div class="col-lg-6">
              <div class="offer-banner-wrap2">
                <div
                  class="single-offer-banner med bg-img"
                  data-background="../../assets/img/banner/offer-med-1.jpg"
                ></div>
                <span class="offer-percent med align-items-center"
                  ><span>30%</span>Discount</span
                >
              </div>
              <div class="offer-banner-wrap3">
                <div
                  class="single-offer-banner med bg-img"
                  data-background="../../assets/img/banner/offer-med-2.jpg"
                ></div>
                <span class="offer-percent med right align-items-center"
                  ><span>30%</span>Discount</span
                >
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="brand-carousel-area pd-tb-150">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="brand-carousel-wrap">
                <div class="brand-carousel owl-carousel">
                  <div class="single-brand">
                    <img src="../../assets/mg/brand/brand-1.png" alt="" />
                  </div>
                  <div class="single-brand">
                    <img src="../../assets/img/brand/brand-2.png" alt="" />
                  </div>
                  <div class="single-brand">
                    <img src="../../assets/img/brand/brand-3.png" alt="" />
                  </div>
                  <div class="single-brand">
                    <img src="../../assets/img/brand/brand-4.png" alt="" />
                  </div>
                  <div class="single-brand">
                    <img src="../../assets/img/brand/brand-5.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
