<section class="brand-carousel-area pd-tb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="brand-carousel-wrap">
          <div class="brand-carousel owl-carousel">
            <div class="single-brand">
              <img src="../../assets/img/brand/brand-1.png" alt="" />
            </div>
            <div class="single-brand">
              <img src="../../assets/img/brand/brand-2.png" alt="" />
            </div>
            <div class="single-brand">
              <img src="../../assets/img/brand/brand-3.png" alt="" />
            </div>
            <div class="single-brand">
              <img src="../../assets/img/brand/brand-4.png" alt="" />
            </div>
            <div class="single-brand">
              <img src="../../assets/img/brand/brand-5.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
