<main>
  <section class="hero-area">
    <div class="hero-carousel">
      <div class="single-hero d-flex align-items-center text-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
              <div class="hero-content">
                <h3>Organic Food</h3>
                <h2>Looking for <br />the fresh Organic Food</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <div class="row" style="align-items: center">
    <div class="col-lg-4 col-md-4 col-8 text-center">
      <div class="search-box">
        <input type="text" placeholder="Search for product" /><button
          type="submit"
        >
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    <div class="filter">
      <div class="form-group">
        <label for="email">Filter by category</label
        ><select
          class="form-control"
          style="display: initial; border-radius: 20px; width: 170px"
        >
          <option>All</option>
          <option value="9">Cakes</option>
          <option value="b">Drinks</option>
          <option value="d">Eggs</option>
          <option value="f">Fruits</option>
          <option value="1">Meats</option>
          <option value="3">Vegetables</option>
          <option value="4">Database</option>
          <option value="1">Front</option>
          <option value="5">Other</option>
          <option value="3">Container</option>
          <option value="0">Back</option></select
        ><i
          class="fas fa-chevron-down"
          style="position: absolute; top: 32px; left: 27%; color: white"
        ></i>
      </div>
    </div>
  </div> -->

  <section class="focus-area pd-tb-120">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-3">
          <article class="card card-body single-focus">
            <figure class="text-center">
              <span class="icon-md mb-2"
                ><img src="../../assets/img/focus/f-car.png" alt=""
              /></span>
              <figcaption class="pt-4">
                <h5 class="title mb-3">Free Shipping</h5>
                <p>Free shipping for all US order</p>
              </figcaption>
            </figure>
          </article>
        </div>
        <div class="col-md-3">
          <article class="card card-body single-focus">
            <figure class="text-center">
              <span class="icon-md mb-2"
                ><img src="../../assets/img/focus/f-headphone.png" alt=""
              /></span>
              <figcaption class="pt-4">
                <h5 class="title mb-3">Support 24/7</h5>
                <p>We support 24h a day</p>
              </figcaption>
            </figure>
          </article>
        </div>

        <div class="col-md-3">
          <article class="card card-body single-focus">
            <figure class="text-center">
              <span class="icon-md mb-2"
                ><img src="../../assets/img/focus/f-money.png" alt=""
              /></span>
              <figcaption class="pt-4">
                <h5 class="title mb-3">100% Money Back</h5>
                <p>You have 30 days to return</p>
              </figcaption>
            </figure>
          </article>
        </div>

        <div class="col-md-3">
          <article class="card card-body single-focus">
            <figure class="text-center">
              <span class="icon-md mb-2"
                ><img src="../../assets/img/focus/f-security.png" alt=""
              /></span>
              <figcaption class="pt-4">
                <h5 class="title mb-3">Payment Secure</h5>
                <p>We ensure secure payment</p>
              </figcaption>
            </figure>
          </article>
        </div>
      </div>
    </div>
  </section>
  <app-top-categories></app-top-categories>
  <app-trendy-foods></app-trendy-foods>

  <!-- <section class="offers-area pd-t-150">
    <div class="container">
      <div class="row offers-area-full-wrap align-items-center">
        <div class="col-lg-10">
          <div class="offers-carousel-wrap">
            <div class="offers-carousel">
              <div class="single-offer">
                <div class="single-food offer-item">
                  <figure class="card card-product-grid">
                    <div class="row align-items-center">
                      <div class="col-md-4">
                        <div class="img-wrap">
                          <span class="topbar">
                            <span class="badge badge-success"> NEW </span>
                          </span>
                          <img src="../../assets/img/trendy-foods/tf-1.png" />
                          <span class="stc-hover">
                            <a href=""><i class="fa fa-search"></i></a>
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                          </span>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <figcaption class="info-wrap">
                          <a href="#" class="title mb-3">Lemon</a>
                          <div class="price-wrap mt-2">
                            <span class="price">$25.00</span>
                            <del class="price-old">$28.55</del>
                          </div>
                          <div class="progress-wrap mb-4">
                            <div class="mt-3 mb-2">
                              <span>Available: 237</span>
                              <span class="float-right">Already Sold: 23</span>
                            </div>
                            <div class="progress">
                              <div
                                class="progress-bar"
                                role="progressbar"
                                style="width: 50%"
                                aria-valuenow="50"
                                aria-valuemin="0"
                                aria-valuemax="100"
                              ></div>
                            </div>
                          </div>
                          <div class="clockdiv">
                            <div data-countdown="2021/03/01">
                              <span class="cdown day"
                                >133
                                <p>Days</p></span
                              >
                              <span class="cdown hour"
                                >6
                                <p>Hours</p></span
                              >
                              <span class="cdown minutes"
                                >48
                                <p>Mins</p></span
                              >
                              <span class="cdown second"
                                >30
                                <p>Sec</p></span
                              >
                            </div>
                          </div>
                        </figcaption>
                      </div>
                    </div>
                  </figure>
                </div>
              </div>

              <div class="single-offer">
                <div class="single-food offer-item">
                  <figure class="card card-product-grid">
                    <div class="row align-items-center">
                      <div class="col-md-4">
                        <div class="img-wrap">
                          <span class="topbar">
                            <span class="badge badge-success"> 20% Offer </span>
                          </span>
                          <img src="../../assets/img/trendy-foods/tf-2.png" />
                          <span class="stc-hover">
                            <a href=""><i class="fa fa-search"></i></a>
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                          </span>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <figcaption class="info-wrap">
                          <a href="#" class="title mb-3">Organic Tomato</a>
                          <div class="price-wrap mt-2">
                            <span class="price">$25.00</span>
                            <del class="price-old">$28.55</del>
                          </div>
                          <div class="progress-wrap mb-4">
                            <div class="mt-3 mb-2">
                              <span>Available: 237</span>
                              <span class="float-right">Already Sold: 23</span>
                            </div>
                            <div class="progress">
                              <div
                                class="progress-bar"
                                role="progressbar"
                                style="width: 50%"
                                aria-valuenow="50"
                                aria-valuemin="0"
                                aria-valuemax="100"
                              ></div>
                            </div>
                          </div>
                          <div class="clockdiv">
                            <div data-countdown="2021/03/01">
                              <span class="cdown day"
                                >133
                                <p>Days</p></span
                              >
                              <span class="cdown hour"
                                >6
                                <p>Hours</p></span
                              >
                              <span class="cdown minutes"
                                >48
                                <p>Mins</p></span
                              >
                              <span class="cdown second"
                                >30
                                <p>Sec</p></span
                              >
                            </div>
                          </div>
                        </figcaption>
                      </div>
                    </div>
                  </figure>
                </div>
              </div>

              <div class="single-offer">
                <div class="single-food offer-item">
                  <figure class="card card-product-grid">
                    <div class="row align-items-center">
                      <div class="col-md-4">
                        <div class="img-wrap">
                          <span class="topbar">
                            <span class="badge badge-success"> NEW </span>
                          </span>
                          <img src="../../assets/img/trendy-foods/tf-3.png" />
                          <span class="stc-hover">
                            <a href=""><i class="fa fa-search"></i></a>
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                          </span>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <figcaption class="info-wrap">
                          <a href="#" class="title mb-3">Lemon</a>
                          <div class="price-wrap mt-2">
                            <span class="price">$25.00</span>
                            <del class="price-old">$28.55</del>
                          </div>
                          <div class="progress-wrap mb-4">
                            <div class="mt-3 mb-2">
                              <span>Available: 237</span>
                              <span class="float-right">Already Sold: 23</span>
                            </div>
                            <div class="progress">
                              <div
                                class="progress-bar"
                                role="progressbar"
                                style="width: 50%"
                                aria-valuenow="50"
                                aria-valuemin="0"
                                aria-valuemax="100"
                              ></div>
                            </div>
                          </div>
                          <div class="clockdiv">
                            <div data-countdown="2021/03/01">
                              <span class="cdown day"
                                >133
                                <p>Days</p></span
                              >
                              <span class="cdown hour"
                                >6
                                <p>Hours</p></span
                              >
                              <span class="cdown minutes"
                                >48
                                <p>Mins</p></span
                              >
                              <span class="cdown second"
                                >30
                                <p>Sec</p></span
                              >
                            </div>
                          </div>
                        </figcaption>
                      </div>
                    </div>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="offers-carousel-thumbnail d-none d-lg-block d-xl-block">
            <div class="single-offer-thumbnail">
              <div class="img-wrap">
                <img src="../../assets/img/trendy-foods/tf-1.png" />
              </div>
            </div>

            <div class="single-offer-thumbnail">
              <div class="img-wrap">
                <img src="../../assets/img/trendy-foods/tf-2.png" />
              </div>
            </div>

            <div class="single-offer-thumbnail">
              <div class="img-wrap">
                <img src="../../assets/img/trendy-foods/tf-3.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section class="banner-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="banner-content">
            <h3>BLACK FRIDAYS !</h3>
            <h2>SALE 50% OFF <br />ALL VEGETABLE PRODUCTS</h2>
            <a href="/" class="boxed-btn">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </section>
 <app-blog-array></app-blog-array>
  <!-- <section class="tr-bs-os-area pd-t-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="single-tr-bs-os top-rated-area">
            <h2 class="single-tr-bs-os-title mb-5">Top Rated</h2>
            <div class="single-tr-bs-os-product mb-4">
              <figure class="d-flex align-items-center">
                <div class="img-wrap mr-4">
                  <img src="../../assets/img/tr-bs-os/tr/tr-1.png" />
                  <span class="stc-hover">
                    <a href=""><i class="fa fa-search"></i></a>
                    <a href=""><i class="fa fa-heart"></i></a>
                    <a href=""><i class="fa fa-shopping-cart"></i></a>
                  </span>
                </div>
                <figcaption class="info-wrap">
                  <a href="#" class="title mb-3">Lemon</a>
                  <div class="price-wrap mt-2">
                    <span class="price">$25.00</span>
                    <del class="price-old">$28.55</del>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="single-tr-bs-os-product mb-4">
              <figure class="d-flex align-items-center">
                <div class="img-wrap mr-4">
                  <img src="../../assets/img/tr-bs-os/tr/tr-2.png" />
                  <span class="stc-hover">
                    <a href=""><i class="fa fa-search"></i></a>
                    <a href=""><i class="fa fa-heart"></i></a>
                    <a href=""><i class="fa fa-shopping-cart"></i></a>
                  </span>
                </div>
                <figcaption class="info-wrap">
                  <a href="#" class="title mb-3">Lemon</a>
                  <div class="price-wrap mt-2">
                    <span class="price">$25.00</span>
                    <del class="price-old">$28.55</del>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="single-tr-bs-os-product mb-4">
              <figure class="d-flex align-items-center">
                <div class="img-wrap mr-4">
                  <img src="../../assets/img/tr-bs-os/tr/tr-3.png" />
                  <span class="stc-hover">
                    <a href=""><i class="fa fa-search"></i></a>
                    <a href=""><i class="fa fa-heart"></i></a>
                    <a href=""><i class="fa fa-shopping-cart"></i></a>
                  </span>
                </div>
                <figcaption class="info-wrap">
                  <a href="#" class="title mb-3">Lemon</a>
                  <div class="price-wrap mt-2">
                    <span class="price">$25.00</span>
                    <del class="price-old">$28.55</del>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="single-tr-bs-os top-rated-area">
            <h2 class="single-tr-bs-os-title mb-5">Best Selling</h2>
            <div class="single-tr-bs-os-product mb-4">
              <figure class="d-flex align-items-center">
                <div class="img-wrap mr-4">
                  <img src="../../assets/img/tr-bs-os/tr/tr-1.png" />
                  <span class="stc-hover">
                    <a href=""><i class="fa fa-search"></i></a>
                    <a href=""><i class="fa fa-heart"></i></a>
                    <a href=""><i class="fa fa-shopping-cart"></i></a>
                  </span>
                </div>
                <figcaption class="info-wrap">
                  <a href="#" class="title mb-3">Lemon</a>
                  <div class="price-wrap mt-2">
                    <span class="price">$25.00</span>
                    <del class="price-old">$28.55</del>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="single-tr-bs-os-product mb-4">
              <figure class="d-flex align-items-center">
                <div class="img-wrap mr-4">
                  <img src="../../assets/img/tr-bs-os/tr/tr-2.png" />
                  <span class="stc-hover">
                    <a href=""><i class="fa fa-search"></i></a>
                    <a href=""><i class="fa fa-heart"></i></a>
                    <a href=""><i class="fa fa-shopping-cart"></i></a>
                  </span>
                </div>
                <figcaption class="info-wrap">
                  <a href="#" class="title mb-3">Lemon</a>
                  <div class="price-wrap mt-2">
                    <span class="price">$25.00</span>
                    <del class="price-old">$28.55</del>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="single-tr-bs-os-product mb-4">
              <figure class="d-flex align-items-center">
                <div class="img-wrap mr-4">
                  <img src="../../assets/img/tr-bs-os/tr/tr-3.png" />
                  <span class="stc-hover">
                    <a href=""><i class="fa fa-search"></i></a>
                    <a href=""><i class="fa fa-heart"></i></a>
                    <a href=""><i class="fa fa-shopping-cart"></i></a>
                  </span>
                </div>
                <figcaption class="info-wrap">
                  <a href="#" class="title mb-3">Lemon</a>
                  <div class="price-wrap mt-2">
                    <span class="price">$25.00</span>
                    <del class="price-old">$28.55</del>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="single-tr-bs-os top-rated-area">
            <h2 class="single-tr-bs-os-title mb-5">On Sale</h2>
            <div class="single-tr-bs-os-product mb-4">
              <figure class="d-flex align-items-center">
                <div class="img-wrap mr-4">
                  <img src="../../assets/img/tr-bs-os/tr/tr-1.png" />
                  <span class="stc-hover">
                    <a href=""><i class="fa fa-search"></i></a>
                    <a href=""><i class="fa fa-heart"></i></a>
                    <a href=""><i class="fa fa-shopping-cart"></i></a>
                  </span>
                </div>
                <figcaption class="info-wrap">
                  <a href="#" class="title mb-3">Lemon</a>
                  <div class="price-wrap mt-2">
                    <span class="price">$25.00</span>
                    <del class="price-old">$28.55</del>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="single-tr-bs-os-product mb-4">
              <figure class="d-flex align-items-center">
                <div class="img-wrap mr-4">
                  <img src="../../assets/img/tr-bs-os/tr/tr-2.png" />
                  <span class="stc-hover">
                    <a href=""><i class="fa fa-search"></i></a>
                    <a href=""><i class="fa fa-heart"></i></a>
                    <a href=""><i class="fa fa-shopping-cart"></i></a>
                  </span>
                </div>
                <figcaption class="info-wrap">
                  <a href="#" class="title mb-3">Lemon</a>
                  <div class="price-wrap mt-2">
                    <span class="price">$25.00</span>
                    <del class="price-old">$28.55</del>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="single-tr-bs-os-product mb-4">
              <figure class="d-flex align-items-center">
                <div class="img-wrap mr-4">
                  <img src="../../assets/img/tr-bs-os/tr/tr-3.png" />
                  <span class="stc-hover">
                    <a href=""><i class="fa fa-search"></i></a>
                    <a href=""><i class="fa fa-heart"></i></a>
                    <a href=""><i class="fa fa-shopping-cart"></i></a>
                  </span>
                </div>
                <figcaption class="info-wrap">
                  <a href="#" class="title mb-3">Lemon</a>
                  <div class="price-wrap mt-2">
                    <span class="price">$25.00</span>
                    <del class="price-old">$28.55</del>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</main>
