.breadcumb-area{
    background-image: url(../../../assets/img/breadcumb/breadcumb-contact.jpg);
}
button[disabled]{
   
  
}
.alert{
    color: red;
}
.form .form-group input[type="text"]:focus{

    background-color:#18b6d6; 
    border-color: red !important;

 }