<section class="breadcumb-area">
  <div class="hero-carousel">
    <div
      class="
        single-hero
        d-flex
        align-items-center
        text-center
        breadcumb-contact
      "
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <div class="hero-content">
              <h3>Organic Food</h3>
              <h2>SignUp</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact-form-area pd-t-180">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="login-form">
          <div class="row single-contact-info">
            <div class="form-group">
              <label class="center-block" for="username">User name</label>
              <input
                formControlName="username"
                id="username"
                type="text"
                class="form-control"
              />
              <div
                *ngIf="
                  signUpForm.controls['username'].invalid &&
                  (signUpForm.controls['username'].dirty ||
                    signUpForm.controls['username'].touched)
                "
                class="alert"
              >
                <div *ngIf="signUpForm.controls['username'].errors.required">
                  Please enter username
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input class="form-control" type="text" formControlName="email" />
              <div
                *ngIf="
                signUpForm.controls['email'].invalid &&
                  (signUpForm.controls['email'].dirty ||
                    signUpForm.controls['email'].touched)
                "
                class="alert"
              >
                Please enter a valid email
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                formControlName="password"
                class="form-control"
                type="password"
              />

              <div
                *ngIf="
                  signUpForm.controls['password'].invalid &&
                  (signUpForm.controls['password'].dirty ||
                    signUpForm.controls['password'].touched)
                "
                class="alert"
              >
                Please enter a strong password
                <div *ngIf="signUpForm.controls['password'].errors.required">
                  Password is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Confirm Password</label>
              <input
                class="form-control"
                type="password"
                formControlName="confirmPassword"
              />
             
              <div *ngIf="signUpForm.controls['confirmPassword'].errors.mismatch">hello</div>
            </div>
            <div class="col-lg-12 text-center form-group">
              <button  type="submit" class="boxed-btn">
                Sign Up
              </button>
            </div>

            <div class="form-text col-lg-12 text-center">
              <p>
                Already have account ?
                <a routerLink="/auth/login">Log in</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
