<section class="trendy-foods-area pd-tb-120">
  <div class="container">
    <header class="section-heading text-center">
      <h3 class="section-title">Trendy Foods</h3>
    </header>
    <div class="row">
      <div class="col-lg-12">
        <div class="trendy-foods-filtering">
          <div class="button-group filter-button-group text-center">
            <button class="active" data-filter="*">All</button>
            <button data-filter=".featured">Featured</button>
            <button data-filter=".new">New</button>
            <button data-filter=".onsale">Onsell</button>
          </div>
          <hr>
          <div class="row grid">
            <div class="col-md-3 col-sm-6 featured grid-item">
              <div class="single-food">
                <figure class="card card-product-grid">
                  <div class="img-wrap mb-3">
                    
                    <img src="../../assets/img/trendy-foods/tf-1.png" />
                    <span class="stc-hover">
                      <a href=""><i class="fa fa-search"></i></a>
                      <a href=""><i class="fa fa-heart"></i></a>
                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </span>
                  </div>
                  <figcaption class="info-wrap">
                    <a href="#" class="title mb-3">Lemon</a>
                    <div class="price-wrap mt-2">
                      <span class="price">&#8377;25.00</span>
                      <del class="price-old"> &#8377; 28.55</del>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 new grid-item">
              <div class="single-food">
                <figure class="card card-product-grid">
                  <div class="img-wrap mb-3">
                    
                    <img src="../../assets/img/trendy-foods/tf-2.png" />
                    <span class="stc-hover">
                      <a href=""><i class="fa fa-search"></i></a>
                      <a href=""><i class="fa fa-heart"></i></a>
                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </span>
                  </div>
                  <figcaption class="info-wrap">
                    <a href="#" class="title mb-3">Lemon</a>
                    <div class="price-wrap mt-2">
                      <span class="price">25.00</span>
                      <del class="price-old">28.55</del>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 onsale grid-item">
              <div class="single-food">
                <figure class="card card-product-grid">
                  <div class="img-wrap mb-3">
                    
                    <img src="../../assets/img/trendy-foods/tf-3.png" />
                    <span class="stc-hover">
                      <a href=""><i class="fa fa-search"></i></a>
                      <a href=""><i class="fa fa-heart"></i></a>
                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </span>
                  </div>
                  <figcaption class="info-wrap">
                    <a href="#" class="title mb-3">Lemon</a>
                    <div class="price-wrap mt-2">
                      <span class="price">25.00</span>
                      <del class="price-old">28.55</del>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 deal grid-item">
              <div class="single-food">
                <figure class="card card-product-grid">
                  <div class="img-wrap mb-3">
                    
                    <img src="../../assets/img/trendy-foods/tf-4.png" />
                    <span class="stc-hover">
                      <a href=""><i class="fa fa-search"></i></a>
                      <a href=""><i class="fa fa-heart"></i></a>
                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </span>
                  </div>
                  <figcaption class="info-wrap">
                    <a href="#" class="title mb-3">Lemon</a>
                    <div class="price-wrap mt-2">
                      <span class="price">25.00</span>
                      <del class="price-old">28.55</del>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 featured grid-item">
              <div class="single-food">
                <figure class="card card-product-grid">
                  <div class="img-wrap mb-3">
                    
                    <img src="../../assets/img/trendy-foods/tf-1.png" />
                    <span class="stc-hover">
                      <a href=""><i class="fa fa-search"></i></a>
                      <a href=""><i class="fa fa-heart"></i></a>
                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </span>
                  </div>
                  <figcaption class="info-wrap">
                    <a href="#" class="title mb-3">Lemon</a>
                    <div class="price-wrap mt-2">
                      <span class="price">25.00</span>
                      <del class="price-old">28.55</del>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 new grid-item">
              <div class="single-food">
                <figure class="card card-product-grid">
                  <div class="img-wrap mb-3">
                    
                    <img src="../../assets/img/trendy-foods/tf-2.png" />
                    <span class="stc-hover">
                      <a href=""><i class="fa fa-search"></i></a>
                      <a href=""><i class="fa fa-heart"></i></a>
                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </span>
                  </div>
                  <figcaption class="info-wrap">
                    <a href="#" class="title mb-3">Lemon</a>
                    <div class="price-wrap mt-2">
                      <span class="price">25.00</span>
                      <del class="price-old">28.55</del>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 onsale grid-item">
              <div class="single-food">
                <figure class="card card-product-grid">
                  <div class="img-wrap mb-3">
                    
                    <img src="../../assets/img/trendy-foods/tf-3.png" />
                    <span class="stc-hover">
                      <a href=""><i class="fa fa-search"></i></a>
                      <a href=""><i class="fa fa-heart"></i></a>
                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </span>
                  </div>
                  <figcaption class="info-wrap">
                    <a href="#" class="title mb-3">Lemon</a>
                    <div class="price-wrap mt-2">
                      <span class="price">25.00</span>
                      <del class="price-old">28.55</del>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 deal grid-item">
              <div class="single-food">
                <figure class="card card-product-grid">
                  <div class="img-wrap mb-3">
                    
                    <img src="../../assets/img/trendy-foods/tf-4.png" />
                    <span class="stc-hover">
                      <a href=""><i class="fa fa-search"></i></a>
                      <a href=""><i class="fa fa-heart"></i></a>
                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </span>
                  </div>
                  <figcaption class="info-wrap">
                    <a href="#" class="title mb-3">Lemon</a>
                    <div class="price-wrap mt-2">
                      <span class="price">25.00</span>
                      <del class="price-old">28.55</del>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
