
<section class="breadcumb-area">
    <div class="hero-carousel">
      <div class="single-hero d-flex align-items-center text-center breadcumb-contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
              <div class="hero-content">
                <h3>Organic Food</h3>
                <h2>Forgot Password</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-form-area pd-t-180">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <form  [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="login-form">
            <div class="row single-contact-info">
              <div class=" form-group">
                <label for="email">Email</label>
                <input formControlName="email" type="text" id="email"  />
                <span ></span>
              </div>
             
              <div class="col-lg-12 text-center form-group">
                <button type="submit" class="boxed-btn">
                  Send Request
                </button>
              </div>
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
